<button class="btn btn-sm btn-primary" {{action 'manageQuestionToggle'}}>Manage Question</button>
{{#if manageQuestionLinks}}
  {{question-edit question=question updateQuestion="updateQuestion"}}
  <button class="btn btn-sm btn-danger" {{action 'deleteQuestion' question}}>Delete</button>
{{/if}}
