<h4>Ask something:</h4>
<div class="doc-content">
  <div layout="" layout-sm="column">
    {{paper-input flex=20 label="Username" value=user}}
    {{paper-input flex=80 label="Question" value=title}}
  </div>
  {{paper-input label="Details" textarea=true value=note}}
  {{#paper-button primary=true raised=true action='saveQuestion'}}Save Question{{/paper-button}}
</div>
