{{#paper-button warn=true action='updateQuestionForm'}}Edit Question{{/paper-button}}

{{#if updateQuestionForm}}

  <div>
    {{paper-input flex=20 id=user label="Username" value=question.user}}
    {{paper-input flex=80 id=title label="Question" value=question.title}}
  </div>
  {{paper-input label="Details" id=note textarea=true value=question.note}}
  {{#paper-button primary=true raised=true action='updateQuestion' param=question}}Save Question{{/paper-button}}
{{/if}}
