$primary: "blue";
@import "ember-paper";

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    img {
      width: 90px;
      height: auto;
    }
}

.score {
  // border: solid 1px black;
  margin-left: 4px;
  margin-right: 4px;
  padding-left: 4px;
  padding-right: 12px;
  text-align: center;
  .number {
    font-size: 36px;
  }
}
