<h2>About collab.</h2>
<p>collab. is a place for people to collaborate on some of life's most challenging questions.The way it works is simple:</p>

<ul>
  <li>Users can post questions that they need halp answering</li>
  <li>Users can answer questions that other Users have asked</li>
</ul>

<p>This forum was born on a sunny April in beautiful Portland, OR. The hope is that this forum will provide an open place for people to seek halp and to halp others. Please keep it respectful and never insult another user for asking a question. Also please try to keep the answers civil. Unless the question is about which shape of noodle is the best shape. The answer to that is so obviouisly spaghetti. Who would even question that. Thanks for visiting, now go get some halp!</p>
