{{#paper-nav-container}}
  {{#paper-sidenav class="md-sidenav-right md-whiteframe-z2" locked-open="gt-lg"}}
    {{#paper-toolbar}}
      <div class="md-toolbar-tools">
        <div class="logo">
          <img src="assets/logo.png"/>
        </div>
      </div>
    {{/paper-toolbar}}

    {{#paper-content}}
      {{#paper-list}}
        {{#paper-item action="transitionTo" param="index"}}Home{{/paper-item}}
        {{#paper-item action="transitionTo" param="about"}}About{{/paper-item}}
        {{#paper-item action="transitionTo" param="new-question"}}Ask a Question{{/paper-item}}
        {{display-starred-questions transitionToQuestion="transitionToQuestion"}}
      {{/paper-list}}
    {{/paper-content}}
  {{/paper-sidenav}}

  <div layout="column" tabindex="-1" role="main" flex>
    {{outlet}}
  </div>
{{/paper-nav-container}}
