{{page-toolbar pageName="Home"}}

{{#paper-content class="md-padding"}}
<div class="doc-content">

  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}

  {{question-form-control saveQuestion="saveQuestion"}}

</div>
{{/paper-content}}
